[Unit]
Description=clockbot %i
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/clockbots
ExecStart=/opt/clockbots/clockbot.mjs
EnvironmentFile=/opt/clockbots/.env.%i

[Install]
WantedBy=multi-user.target
